<!doctype html>
<html ng-app="todoApp">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script>
  angular.module('todoApp', [])
  .controller('TodoListController', function() {
validate.extend(validate.validators.datetime, {
  parse: function(value, options) {
    return +moment.utc(value);
  },
  format: function(value, options) {
    var format = options.dateOnly ? "YYYY-MM-DD" : "YYYY-MM-DD hh:mm:ss";
    console.log("format =",format,"=",value );
    return moment.utc(value).format(format);
  }
});
    var todoList = this;
    todoList.data ={username:'',password:'',date:''};
    todoList.msg={};
    todoList.constraints = {
  username: {
    presence: true,
format: {
      pattern: /^([0-9]).*$/,
      message: function(value, attribute, validatorOptions, attributes, globalOptions) {
        return /[a-zA-Z]/.test(value)?'char not ':'enter userName';
      }
    },
    length: function(value, attributes, attributeName, options, constraints) {
      if (value) {
        if ((/[0-9]/).test(value)) return {is: 6};
      }
      return false;
    }
  },
  password: {
    presence: true,
    length: {
      minimum: 6,
      message: "must be at least 6 characters"
    }
  },
  date:{
    datetime: {
          dateOnly: true,
          latest: moment.utc().subtract(18, 'years'),
          message: "^You need to be atleast 18 years old"
        }
    }
};
  todoList.show=function(d){
    todoList.msg[d] = validate( todoList.data, todoList.constraints)[d];
  }
  });
</script>
    
  </head>
  <body ng-controller="TodoListController as todoList">
    <div class="container-fluid">
    <form>
  <div class="form-row">
    <div class="col-md-12 mb-12">
      <label for="validationServer01">First name</label>
      <input type="text" 
      ng-model="todoList.data.username" 
      ng-change="todoList.show('username')" 
      ng-class="{'form-control': true, 'is-invalid': todoList.msg.username[0]}" id="validationServer01" placeholder="First name" value="Mark" required>
      <div class="invalid-feedback">
        <ul><li ng-repeat="d in todoList.msg.username">{{d}}</li></ul>
      </div>
    </div>
    <div class="col-md-12 mb-12">
      <label for="validationServer01">Password</label>

      <input type="text" ng-model="todoList.data.password" ng-change="todoList.show('password')" ng-class="{'form-control': true, 'is-invalid': todoList.msg.password[0]}" id="validationServer01" placeholder="First name" value="Mark" required>
      <div class="invalid-feedback">
        <ul><li ng-repeat="d in todoList.msg.password">{{d}}</li></ul>
      </div>
    </div>
    <div class="col-md-12 mb-12">
      <label for="validationServer01">DOB</label>

      <input type="text" ng-model="todoList.data.date" ng-change="todoList.show('date')" ng-class="{'form-control': true, 'is-invalid': todoList.msg.date[0]}" id="validationServer01" placeholder="First name" value="Mark" required>
      <div class="invalid-feedback">
        <ul><li ng-repeat="d in todoList.msg.date">{{d}}</li></ul>
      </div>
    </div>
 </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
</div>

  </body>
</html>